<article class="vehicle-list">
    <header>
        <a href="#/logout">Log out</a>
    </header>
    <section>
        <section>
            <a href="#/oldtimer/fiat-topolino"><img src="assets/images/fiat-topolino.jpg"/></a>
            <h2><a href="#/oldtimer/fiat-topolino">Fiat Topolino</a></h2>
            <div>6600 USD</div>
        </section>
        <section>
            <a href="#/oldtimer/buick-riviera"><img src="assets/images/buick-riviera.jpg"/></a>
            <h2><a href="#/oldtimer/buick-riviera">Buick Riviera Super 8 Dynaflow Coupe</a></h2>
            <div>33865 USD</div>
        </section>
        <section>
            <a href="#/oldtimer/citroen-rosalie-8"><img src="assets/images/citroen-rosalie-8.jpg"/></a>
            <h2><a href="#/oldtimer/citroen-rosalie-8">Citroen Rosalie 8</a></h2>
            <div>11500 USD</div>
        </section>
    </section>
</article>
