<article class="signup">
    <h1>Sign up</h1>
    <form>
        <label for="username">Name</label>
        <input type="text" maxlength="25" name="username"/>
        <label for="pwd">Password</label>
        <input type="password" maxlength="20" name="pwd"/>
        <button type="button">Sign up</button>
        <a href="#/">Cancel</a>
    </form>
</article>
