<article class="vehicle-detail">
    <header>
        <a href="#/logout">Log out</a>
    </header>
    <section>
        <section>
            <img src="assets/images/fiat-topolino.jpg"/>
            <h2>Fiat Topolino</h2>
            <div>6600 USD</div>
        </section>
        <section>
            <table>
                <tr><th>Year</th><td>1948</td></tr>
                <tr><th>Body Type</th><td>Coupe</td></tr>
                <tr><th># of Passengers</th><td>3</td></tr>
                <tr><th># of Doors</th><td>2</td></tr>
                <tr><th>Color</th><td>Red</td></tr>
                <tr><th>Fuel Type</th><td>Petrol</td></tr>
                <tr><th>CC</th><td>586</td></tr>
                <tr><th>Cylinder Layout</th><td>In-Line</td></tr>
                <tr><th>Transmission</th><td>Manual</td></tr>
            </table>
        </section>
        <div><a href="#/oldtimers">Go back</a></div>
    </section>
</article>
