<h1>Routes in this sample</h1>
<p>{{intro}}</p>
<ul>
    {{#each routes}}
        <li>
            <div><h2>{{name}}</h2><code>{{path}}</code><p>{{comment}}</p></div>
        </li>
    {{/each}}
</ul>
